In [9]:
import streamlit as st
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime, timedelta
import plotly.express as px

now = datetime.now()
cutoff_dt = now - timedelta(hours=24)

host = 'ec2-44-210-50-83.compute-1.amazonaws.com'
db = 'd1fp8mklv5sglk'
user = 'tmrjpxsyzlnbdg'
port = '5432'
pwd = 'bf5fa66390bf26d445af2bdfbb4ec899b119150825b6008781acd4abfd267e0b'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(user, pwd, host, port, db))

#sqlstring ="""CREATE TABLE todo_list (
#	user_id serial PRIMARY KEY,
#	todo_item VARCHAR ( 50 ) UNIQUE NOT NULL);"""

#sqlstring = """INSERT INTO todo_list VALUES
#    (2, 'sdfdf');"""

sqlstring = 'ALTER TABLE your_table ADD COLUMN key_column BIGSERIAL PRIMARY KEY;'

engine.execute(sqlstring)

In [10]:
df = pd.read_sql("select * from todo_list", con = engine)
df

   user_id todo_item
0        1     clean
1        2     sdfdf