In [4]:
import pandas as pd
from sqlalchemy import create_engine
import datetime

engine = create_engine('postgresql://postgres:12345@192.168.1.201:5432/test')

df = pd.read_sql_query('select * from weather_station',con=engine)

df

,index,datetime,ground_temp,humidity,rain_daily,rain_inverval,temperature,wind_speed
0,0,2022-05-24 19:48:40.286156,73.5116,57.700001,0.0,0.0,73.219999,0.000000
1,0,2022-05-24 19:49:04.756325,73.7366,57.700001,0.0,0.0,73.219999,0.000000
2,0,2022-05-24 19:49:20.562951,73.6250,58.099998,0.0,0.0,73.219999,0.000000
3,0,2022-05-24 19:49:38.443609,73.6250,58.000000,0.0,0.0,73.400000,0.000000
4,0,2022-05-24 19:49:51.218496,73.6250,57.900002,0.0,0.0,52.700000,0.000000
...,...,...,...,...,...,...,...,...
12914,0,2022-10-14 08:24:00.835945,77.9000,75.800003,0.0,0.0,66.919999,0.000000
12915,0,2022-10-14 08:29:39.114032,77.9000,75.500000,0.0,0.0,67.100000,0.000000
12916,0,2022-10-14 08:35:12.358999,77.7866,72.699997,0.0,0.0,67.100000,0.042165
12917,0,2022-10-14 08:40:53.330894,77.9000,71.699997,0.0,0.0,67.280001,0.000000
12918,0,2022-10-14 08:46:31.708952,77.9000,70.199997,0.0,0.0,67.460001,0.000000